<%-include("header")-%>
  <div class="box" id="heading">
    <h1>
      <%=listTitle%>
    </h1>

  </div>
  <div class="box">
    <%for(let i=0;i<newlistitems.length;i++){%>
      <div class="item">
        <input type="checkbox" name="" value="">
        <p>
          <%=newlistitems[i]%>
        </p>
      </div>

      <%}%>

        <form class="item" action="/" method="post" class="">
          <input type="text" placeholder="New Item" name="new_item" autocomplete="off">
          <button type="submit" name="list" value="<%=listTitle%>">+</button>
        </form>
  </div>
  <%-include("footer")-%>
 
